/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./view/assets/css/App.css ***!
  \*******************************************************************************************************/
@font-face {
    font-family: 'pluto';
    src: url(http://localhost:5050/assets/fonts/oreonyx.pxxxpx003847.aed8268955f888e64a41.ttf);
}

body {
    box-sizing: border-box;
    padding:  0;
    margin:  0;
    background-color: #e8e7e7;
}

#root {
    margin: 0;
    padding: 0;
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./view/js/components/404/404.module.css ***!
  \*********************************************************************************************************************/
._404-module___404--vjP76RDMlU66OBpHS0EQUATfZr9UHv__mechanix{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./view/js/components/eshop/eshop.css ***!
  \******************************************************************************************************************/
.card-group {
    margin-top: 20px;
}
/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./view/js/components/home/home.css ***!
  \****************************************************************************************************************/
.home-style {
    background-color: transparent;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-style img {
    width: 250px;
    height: 150px;
}
/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./view/js/components/signup/Signup.module.css ***!
  \***************************************************************************************************************************/
.Signup-module__form--IQJg33wTadU8axzcRdki_QJlZTNMFy__mechanix {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./view/js/components/users/user.css ***!
  \*****************************************************************************************************************/
.user-table {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-table .th-col-red th{
    color: red;
}
